.review_container {
  width: 600px;
  height: 400px;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  padding-bottom: 50px;
  opacity: 70%;
  font-size: smaller;
}

.review_submit_bttn {
  border: none;
  background-color: rgb(209, 78, 78);
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
  height: 40px;
  width: 333px;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bolder;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.review_textbox {
  width: 100%;
  padding: 15px;
  height: 200px;
  width: 300px;
  border: 1px solid lightgrey;
  background: #f1f1f1;
  border-radius: 5px;
}

.review_form {
  display: flex;
  flex-direction: column;

}

.review_body_rating {
  width: 100%;
  padding: 15px;
  width: 300px;
  border: 1px solid lightgrey;
  background: #f1f1f1;
  border-radius: 5px;
}

#rating {
  width: 250px;
  border-radius: 5px;
  border: none;
}

.review_bttn {
  border: none;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 10px;
  left: 30px;
  height: 40px;
  width: 100px;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bolder;
  color: rgb(255, 255, 255);
  cursor: pointer;
}
