.spotsPage {
  background-color: white;
  margin-top: 30px;
  min-height: 100%;
  overflow:auto;
}

.spotsPage_info {
  background-color: white;
  padding: 20px;
}


.spotsPage_info > p {
  margin-bottom: 10px;
  font-size: 14px;
}

.spotsPage_info > h1 {
  margin-bottom: 30px;
  color: black;
}

.spotsPage_info > button {
  border-radius: 30px;
  text-transform: inherit;
  margin: 5px;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: white;
  /* border: 2px solid rgba(211, 211, 211, 0.671); */
  border: 2px solid  rgba(214, 47, 47, 0.568);;
  cursor: pointer;
}

.spotsPage_info > button:hover {
  border: 2px solid rgba(0, 0, 0, 0.671);
}
