.booking_container {
  display: flex;
  right: 10px;
}
.booking_form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  background-color: white;
  padding: 10px;
  width: 700px;
}

.booking_form > .book_price_per_night {
  margin-right:  35%;
  padding: 10px;
}

.checkin_out_div {
  display: inline-flex;
}
