body {
  font-weight: bold;
  background-color: rgb(212, 209, 209);
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.top_nav_div {
  background-color: black;
  height: 3em;
  position: sticky;
  z-index: 50;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

}

.nav-item+button {
  border: none;
  border-radius: 999px;

}

.nav-item {
  padding-left: 15px;
  padding-right: 15px;
  margin: 10px;
  text-decoration: none;
  color: rgb(209, 78, 78);
}

.nav-item-profile {
  border-radius: 999px;
}

.nav-item-profile {
  padding-left: 15px;
  padding-right: 15px;
  margin: 10px;
  text-decoration: none;
  color: rgb(209, 78, 78);
}

.drop-down-menu-body {
  position: absolute;
  border-radius: 10px;
  background-color: white;
  z-index: 60;
  box-shadow:inset lightblue;
}

.nav-item:hover {
  border-radius: 15px;
  background-color: rgb(43, 42, 42);
  /* border-image: url('../../assets/images/nav-item-under-highlight.png'); */

}

.search_form {
  display: flex;
  max-width: 400px;
}

.home_nav_searchbar_container {
  display: inline-flex;
  border-radius: 20px;
  width: 400px;
  max-width: 100px;
}

.searchbar {
  border-radius: 999px;
  border:none;
  width: 400px;
  height: 3em;
  padding: 10px;
  outline-width: 0;
  background-color: rgb(255, 255, 255);
  opacity: 100%;
}

.searchbar:hover {
  opacity: 90%;
}

.lairbnb_search_black_orange {
  width: 2rem;
}

.search_logo_button_lairbnb {
  background-color: black;
  border-radius: 5px;
  margin-left: 5px;
}

.lairbnb_logo_black_orange_home {
  position: sticky;
  max-width: 200px;
  padding-left: 10px;
  /* display: flex; */
  /* left: 200px; */
}
/*
.login_bttn {
} */

.banner_search_button {
  background-color: rgb(255, 255, 255);
  font-weight: 900;
  text-transform: inherit;
  padding: 5px;
  color: red;
  border: 1px solid lightgray;
}
.banner_search_button:hover {
  background-color: rgb(209, 78, 78);
  font-weight: 900;
  text-transform: inherit;
  color: rgb(255, 255, 255);

}

.banner_search {
  display: flex;
  flex-direction: column;
}

.logout_bttn {
  padding-left: 15px;
  padding-right: 15px;
  margin: 10px;
  text-decoration: none;
  color: rgb(209, 78, 78);
  border: none;
  border-radius: 999px;
  cursor: pointer;
}

.drop-down-menu-body {
  min-height: 300px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 10px;
  padding-bottom: 50px;
  opacity: 95%;
}

.profile-dropdown > li {
  border: 2px solid rgba(211, 211, 211, 0.692);
  padding: 10px;
}
