body {
  font-weight: bold;
  background-color: rgb(212, 209, 209);
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.top-nav-div {
  display: inline-flex;
  justify-content: space-evenly;
  margin: 10px;
}

.nav-item {
  padding-left: 25px;
  padding-right: 25px;
  text-decoration: none;
  color: rgb(209, 78, 78);
}

.nav-item:hover {
  border-radius: 15px;
  background-color: rgb(43, 42, 42);
  /* border-image: url('../../assets/images/nav-item-under-highlight.png'); */
  padding-top: 8px;
  padding-bottom: 8px;
}

.search_form {
  display: flex;
  max-width: 400px;
}

.home_nav_searchbar_container {
  display: inline-flex;
  border-radius: 20px;
  width: 400px;
  max-width: 100px;
}

.searchbar {
  border-radius: 999px;
  border:none;
  width: 400px;
  height: 3em;
  padding: 10px;
  outline-width: 0;
  background-color: rgb(255, 255, 255);
  opacity: 100%;
}

.searchbar:hover {
  opacity: 90%;
}

.lairbnb_search_black_orange {
  width: 2rem;
}

.search_logo_button_lairbnb {
  background-color: black;
  border-radius: 5px;
  margin-left: 5px;
}

.lairbnb_logo_black_orange_home {
  max-width: 200px;
  padding-left: 10px;
}
/*
.login_bttn {
} */
